On {{ article.locale_date }}
{% if article.tags %}
with tags {% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> {% endfor %}<br/>
{% endif %}

{% if article.author %}
Written by <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">  {{ article.author }}</a><br/>
{% endif %}

{% if article.translator %}
Translated by <span style="color:#C70038">{{ article.translator }}</span><br/>
{% endif %}

{% if article.artist %}
Artwork by <span style="color:#C70038">{{ article.artist }}</span><br/>
{% endif %}

{% import 'translations.html' as translations with context %}
{{ translations.translations_for(article) }}
